<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

     <!-- Copied CSS-->
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/font-awesome.min.css" type="text/css" charset="utf-8" />

        <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>


    <link rel="shortcut icon" type="image/png" href="http://st.codeforces.com/s/77010/favicon.png">

    <!--CombineResourcesFilter-->
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/prettify.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/clear.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/style.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/ttypography.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/problem-statement.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/second-level-menu.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/roundbox.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/datatable.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/table-form.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/topic.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/jquery.jgrowl.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/facebox.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/jquery.wysiwyg.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/jquery.autocomplete.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/codeforces.datepick.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/colorbox.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/jquery.drafts.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/community.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/status.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/sidebar-menu.css" type="text/css" charset="utf-8" />


    <!--CSS END -->

    <title>Title</title>
</head>
<body>
<div id="header" style="position: relative;">
    <div style="float:left;">

        <a href="/" style="font-size: 48px;">Code Karaoke</a>
    </div>

    </div>
    <br style="clear: both;">
</div>


{% for problem in object_list %}
   <div class="topic" topicid="{{ problem.id }}">
    <div class="title">
        <a href="/site/{{ problem.id }}">
            <p>{{ problem.title }}</p>
        </a>
    </div>
    <div class="content">
        <div class="ttypography">
            {{ problem.desc }}
        </div>
    </div>

    <div class="roundbox meta" style="">
        <div class="roundbox-lt">&nbsp;</div>
        <div class="roundbox-rt">&nbsp;</div>
        <div class="roundbox-lb">&nbsp;</div>
        <div class="roundbox-rb">&nbsp;</div>

        <div class="right-meta">
            <ul>
                <li><a href="/profile/TeaPot"><img style="vertical-align:middle;position:relative;top:-0.2em;"
                                                   src="http://st.codeforces.com/s/35467/images/blog/user_16x16.png"
                                                   alt="Author" title="Author"></a>
                    &nbsp;


                    <a href="/profile/TeaPot">
                        {{ problem.author }}
                    </a>
                </li>
                <li><img style="vertical-align:middle;position:relative;top:-0.2em;"
                         src="http://st.codeforces.com/s/35467/images/blog/date_16x16.png" alt="Publication date"
                         title="Publication date">
                    &nbsp;


                    <span class="format-humantime" >{{ problem.created }}</span>

                </li>
            </ul>
        </div>

        <br style="clear:both;">
    </div>
</div>
{% endfor %}
</body>
</html>