<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Copied CSS-->
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/font-awesome.min.css" type="text/css" charset="utf-8" />

        <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>


    <link rel="shortcut icon" type="image/png" href="http://st.codeforces.com/s/77010/favicon.png">

    <!--CombineResourcesFilter-->
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/prettify.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/clear.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/style.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/ttypography.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/problem-statement.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/second-level-menu.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/roundbox.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/datatable.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/table-form.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/topic.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/jquery.jgrowl.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/facebox.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/jquery.wysiwyg.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/jquery.autocomplete.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/codeforces.datepick.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/colorbox.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/jquery.drafts.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/community.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/status.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="http://st.codeforces.com/s/77010/css/sidebar-menu.css" type="text/css" charset="utf-8" />


    <!--CSS END -->

    <title>{{ problems.title }}</title>
</head>
<body>
<div id="header" style="position: relative;">
    <div style="float:left;">

        <a href="/" style="font-size: 48px;">Code Karaoke</a>
    </div>

    </div>
    <br style="clear: both;">
</div>

<div class="ttypography">
    <div class="problem-statement">
        <div class="header">
            <div class="title">{{ problems.title }}</div>
            <div class="time-limit">
                <div class="property-title">time limit per test</div>
                2 seconds
            </div>
            <div class="memory-limit">
                <div class="property-title">memory limit per test</div>
                256 megabytes
            </div>
            <div class="input-file">
                <div class="property-title">input</div>
                standard input
            </div>
            <div class="output-file">
                <div class="property-title">output</div>
                standard output
            </div>
        </div>
        <div>{{ problems.desc }}</div>
        <div class="input-specification">
            <div class="section-title">Input-Case</div>
            {{ problems.input_case }}
            </div>
        <div class="output-specification">
            <div class="section-title">Output</div>
            {{ problems.output_case }}
        </div>
    </div>
    <p></p>
</div>
</body>
</html>